[submodule "stesi/gtms"]
	path = stesi/gtms
	url = git@github.com:stesi/gtms.git
	branch = 16.0

[submodule "stesi/gtms_contractmanager"]
	path = stesi/gtms_contractmanager
	url = git@github.com:stesi/gtms_contractmanager.git
	branch = 16.0

[submodule "ingegniamo/gtms_inspection_survey"]
	path = ingegniamo/gtms_inspection_survey
	url = git@github.com:ingegniamo/gtms_inspection_survey.git
	branch = 16.0
