[submodule "stesi/gtms"]
	path = stesi/gtms
	url = git@github.com:stesi/gtms.git
	branch = 16.0

[submodule "stesi/gtms_contractmanager"]
	path = stesi/gtms_contractmanager
	url = git@github.com:stesi/gtms_contractmanager.git
	branch = 16.0

[submodule "ingegniamo/gtms_inspection_survey"]
	path = ingegniamo/gtms_inspection_survey
	url = git@github.com:ingegniamo/gtms_inspection_survey.git
	branch = 16.0

[submodule "ingegniamo/gtms_inspection_website"]
	path = ingegniamo/gtms_inspection_website
	url = git@github.com:ingegniamo/gtms_inspection_website.git
	branch = 16.0

[submodule "ingegniamo/survey_helpdesk"]
	path = ingegniamo/survey_helpdesk
	url = git@github.com:ingegniamo/survey_helpdesk.git
	branch = 16.0

[submodule "ingegniamo/sh_survey_extra_fields"]
	path = ingegniamo/sh_survey_extra_fields
	url = git@github.com:ingegniamo/sh_survey_extra_fields.git
	branch = 16.0

[submodule "stesi/gtms_fleet_planning"]
	path = stesi/gtms_fleet_planning
	url = git@github.com:stesi/gtms_fleet_planning.git
	branch = 16.0

[submodule "stesi/gtms_website"]
	path = stesi/gtms_website
	url = git@github.com:stesi/gtms_website.git
	branch = 16.0

[submodule "stesi/gtms_otm"]
	path = stesi/gtms_otm
	url = git@github.com:stesi/gtms_otm.git
	branch = 16.0

[submodule "stesi/ftp_connector"]
	path = stesi/ftp_connector
	url = git@github.com:stesi/ftp_connector.git
	branch = 16.0

[submodule "stesi/odoo_whatsapp_integration"]
	path = stesi/odoo_whatsapp_integration
	url = git@github.com:stesi/odoo_whatsapp_integration.git
	branch = 16.0

[submodule "ingegniamo/survey_image_on_answers"]
	path = ingegniamo/survey_image_on_answers
	url = git@github.com:ingegniamo/survey_image_on_answers.git
	branch = 16.0

[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 16.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 16.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 16.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0

[submodule "ingegniamo/gtms_otm_inspection"]
	path = ingegniamo/gtms_otm_inspection
	url = git@github.com:ingegniamo/gtms_otm_inspection.git
	branch = 16.0

[submodule "ingegniamo/gtms_fleet_organization"]
	path = ingegniamo/gtms_fleet_organization
	url = git@github.com:ingegniamo/gtms_fleet_organization.git
	branch = 16.0

[submodule "ingegniamo/fleet_plate_unique"]
	path = ingegniamo/fleet_plate_unique
	url = git@github.com:ingegniamo/fleet_plate_unique.git
	branch = 16.0

[submodule "ingegniamo/fleet_service_purchase"]
	path = ingegniamo/fleet_service_purchase
	url = git@github.com:ingegniamo/fleet_service_purchase.git
	branch = 16.0

[submodule "ingegniamo/fleet_limited_traffic_zone"]
	path = ingegniamo/fleet_limited_traffic_zone
	url = git@github.com:ingegniamo/fleet_limited_traffic_zone.git
	branch = 16.0

[submodule "ingegniamo/fleet_service_with_deduction"]
	path = ingegniamo/fleet_service_with_deduction
	url = git@github.com:ingegniamo/fleet_service_with_deduction.git
	branch = 16.0

[submodule "ingegniamo/fleet_service_type_form"]
	path = ingegniamo/fleet_service_type_form
	url = git@github.com:ingegniamo/fleet_service_type_form.git
	branch = 16.0

[submodule "ingegniamo/fleet_replacement"]
	path = ingegniamo/fleet_replacement
	url = git@github.com:ingegniamo/fleet_replacement.git
	branch = 16.0

[submodule "ingegniamo/stesi_fleet_documents"]
	path = ingegniamo/stesi_fleet_documents
	url = git@github.com:ingegniamo/stesi_fleet_documents.git
	branch = 16.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 16.0

[submodule "ingegniamo/gtms_fleet_service_with_deduction"]
	path = ingegniamo/gtms_fleet_service_with_deduction
	url = git@github.com:ingegniamo/gtms_fleet_service_with_deduction.git
	branch = 16.0

[submodule "ingegniamo/fleet_deduction_sign"]
	path = ingegniamo/fleet_deduction_sign
	url = git@github.com:ingegniamo/fleet_deduction_sign.git
	branch = 16.0

[submodule "ingegniamo/gtms_survey_fleet_deduction"]
	path = ingegniamo/gtms_survey_fleet_deduction
	url = git@github.com:ingegniamo/gtms_survey_fleet_deduction.git
	branch = 16.0

[submodule "ingegniamo/branch"]
	path = ingegniamo/branch
	url = git@github.com:ingegniamo/branch.git
	branch = 16.0

[submodule "ingegniamo/stesi_mobile"]
	path = ingegniamo/stesi_mobile
	url = git@github.com:ingegniamo/stesi_mobile.git
	branch = 16.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 16.0

[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 16.0

[submodule "ingegniamo/package_name_constrains"]
	path = ingegniamo/package_name_constrains
	url = git@github.com:ingegniamo/package_name_constrains.git
	branch = 16.0

[submodule "ingegniamo/helpdesk_deduction"]
	path = ingegniamo/helpdesk_deduction
	url = git@github.com:ingegniamo/helpdesk_deduction.git
	branch = 16.0

[submodule "ingegniamo/stesi_stock_picking_procure_method"]
	path = ingegniamo/stesi_stock_picking_procure_method
	url = git@github.com:ingegniamo/stesi_stock_picking_procure_method.git
	branch = 16.0

[submodule "ingegniamo/stock_location_category_constrains"]
	path = ingegniamo/stock_location_category_constrains
	url = git@github.com:ingegniamo/stock_location_category_constrains.git
	branch = 16.0

[submodule "ingegniamo/sign_otp"]
	path = ingegniamo/sign_otp
	url = git@github.com:ingegniamo/sign_otp.git
	branch = 16.0

[submodule "Futura-srl/dipendenti"]
	path = Futura-srl/dipendenti
	url = git@github.com:Futura-srl/dipendenti.git
	branch = main

[submodule "ingegniamo/gtms_survey_helpdesk"]
	path = ingegniamo/gtms_survey_helpdesk
	url = git@github.com:ingegniamo/gtms_survey_helpdesk.git
	branch = 16.0

[submodule "ingegniamo/stock_move_line_stock_quant_check_location"]
	path = ingegniamo/stock_move_line_stock_quant_check_location
	url = git@github.com:ingegniamo/stock_move_line_stock_quant_check_location.git
	branch = 16.0

[submodule "ingegniamo/futura_custom"]
	path = ingegniamo/futura_custom
	url = git@github.com:ingegniamo/futura_custom.git
	branch = 16.0

[submodule "ingegniamo/stock_move_default_group_id"]
	path = ingegniamo/stock_move_default_group_id
	url = git@github.com:ingegniamo/stock_move_default_group_id.git
	branch = 16.0

[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 16.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0

[submodule "ingegniamo/stesi_stock_picking_show_linked"]
	path = ingegniamo/stesi_stock_picking_show_linked
	url = git@github.com:ingegniamo/stesi_stock_picking_show_linked.git
	branch = 16.0

[submodule "ingegniamo/stock_move_line_avoid_putaway_strategy_done"]
	path = ingegniamo/stock_move_line_avoid_putaway_strategy_done
	url = git@github.com:ingegniamo/stock_move_line_avoid_putaway_strategy_done.git
	branch = 16.0

[submodule "ingegniamo/stock_move_line_incoming_check_package"]
	path = ingegniamo/stock_move_line_incoming_check_package
	url = git@github.com:ingegniamo/stock_move_line_incoming_check_package.git
	branch = 16.0

[submodule "stesi/gtms_stock"]
	path = stesi/gtms_stock
	url = git@github.com:stesi/gtms_stock.git
	branch = 16.0

[submodule "ingegniamo/stock_quant_gather_domain"]
	path = ingegniamo/stock_quant_gather_domain
	url = git@github.com:ingegniamo/stock_quant_gather_domain.git
	branch = 16.0

[submodule "ingegniamo/stock_picking_type_default_procure_method"]
	path = ingegniamo/stock_picking_type_default_procure_method
	url = git@github.com:ingegniamo/stock_picking_type_default_procure_method.git
	branch = 16.0

[submodule "ingegniamo/stock_product_avaiable_in_warehouse"]
	path = ingegniamo/stock_product_avaiable_in_warehouse
	url = git@github.com:ingegniamo/stock_product_avaiable_in_warehouse.git
	branch = 16.0

[submodule "ingegniamo/stock_quant_package_reserve_available_quantity"]
	path = ingegniamo/stock_quant_package_reserve_available_quantity
	url = git@github.com:ingegniamo/stock_quant_package_reserve_available_quantity.git
	branch = 16.0
[submodule "ingegniamo/stock_move_line_qty_done_uid"]
	path = ingegniamo/stock_move_line_qty_done_uid
	url = git@github.com:ingegniamo/stock_move_line_qty_done_uid.git
	branch = 16.0

[submodule "ingegniamo/package_details_on_product"]
	path = ingegniamo/package_details_on_product
	url = git@github.com:ingegniamo/package_details_on_product.git
	branch = 16.0

[submodule "Futura-srl/carburante"]
	path = Futura-srl/carburante
	url = git@github.com:Futura-srl/carburante.git

[submodule "ingegniamo/gtms_learning_driver"]
	path = ingegniamo/gtms_learning_driver
	url = git@github.com:ingegniamo/gtms_learning_driver.git
	branch = 16.0

[submodule "OCA/report-print-send"]
	path = OCA/report-print-send
	url = git@github.com:OCA/report-print-send.git
	branch = 16.0

[submodule "ingegniamo/stock_quant_package_generate_multi"]
	path = ingegniamo/stock_quant_package_generate_multi
	url = git@github.com:ingegniamo/stock_quant_package_generate_multi.git
	branch = 16.0

[submodule "ingegniamo/server-tools-mig"]
	path = ingegniamo/server-tools-mig
	url = git@github.com:ingegniamo/server-tools-mig.git
	branch = 16.0

[submodule "ingegniamo/stock_removal_strategy_least_packages_improvements"]
	path = ingegniamo/stock_removal_strategy_least_packages_improvements
	url = git@github.com:ingegniamo/stock_removal_strategy_least_packages_improvements.git
	branch = 16.0

[submodule "ingegniamo/stock_removal_strategy_least_packages"]
	path = ingegniamo/stock_removal_strategy_least_packages
	url = git@github.com:ingegniamo/stock_removal_strategy_least_packages.git
	branch = 16.0

[submodule "ingegniamo/stock_picking_split_move"]
	path = ingegniamo/stock_picking_split_move
	url = git@github.com:ingegniamo/stock_picking_split_move.git
	branch = 16.0

[submodule "ingegniamo/stock_picking_batch_wave_auto"]
	path = ingegniamo/stock_picking_batch_wave_auto
	url = git@github.com:ingegniamo/stock_picking_batch_wave_auto.git
	branch = 16.0

[submodule "ingegniamo/stock_move_extra_move_origin"]
	path = ingegniamo/stock_move_extra_move_origin
	url = git@github.com:ingegniamo/stock_move_extra_move_origin.git
	branch = 16.0

[submodule "Futura-srl/Diritti"]
	path = Futura-srl/Diritti
	url = git@github.com:Futura-srl/Diritti.git
	branch = main

[submodule "Futura-srl/sondaggi_magazzino"]
	path = Futura-srl/sondaggi_magazzino
	url = git@github.com:Futura-srl/sondaggi_magazzino.git
	branch = main

[submodule "Futura-srl/schede_carburante"]
	path = Futura-srl/schede_carburante
	url = git@github.com:Futura-srl/schede_carburante.git
	branch = main

[submodule "Futura-srl/export_stock_move_lines"]
	path = Futura-srl/export_stock_move_lines
	url = git@github.com:Futura-srl/export_stock_move_lines.git
	branch = main

[submodule "Futura-srl/ks_dashboard_ninja"]
	path = Futura-srl/ks_dashboard_ninja
	url = git@github.com:Luca-Cocozza/ks_ds_nj.git
	branch = main

[submodule "Futura-srl/sign_deduction_update"]
	path = Futura-srl/sign_deduction_update
	url = git@github.com:Futura-srl/sign_deduction_update.git
	branch = main

[submodule "Futura-srl/automatic_fleet_management"]
	path = Futura-srl/automatic_fleet_management
	url = git@github.com:Futura-srl/automatic_fleet_management.git
	branch = main

[submodule "Futura-srl/schedule_activity_to_multiple_users"]
	path = Futura-srl/schedule_activity_to_multiple_users
	url = git@github.com:Luca-Cocozza/schedule_activity_to_multiple_users.git
	branch = main

[submodule "Futura-srl/import_trip_to_tms"]
	path = Futura-srl/import_trip_to_tms
	url = git@github.com:Luca-Cocozza/import_trip_to_tms.git
	branch = main

[submodule "Futura-srl/stesi_fleet_documents_update"]
	path = Futura-srl/stesi_fleet_documents_update
	url = git@github.com:Futura-srl/stesi_fleet_documents_update.git
	branch = main

[submodule "Futura-srl/print_minutes_of_meeting"]
	path = Futura-srl/print_minutes_of_meeting
	url = git@github.com:Futura-srl/print_minutes_of_meeting.git
	branch = main
