[submodule "stesi/gtms"]
	path = stesi/gtms
	url = git@github.com:stesi/gtms.git
	branch = 16.0

[submodule "stesi/gtms_contractmanager"]
	path = stesi/gtms_contractmanager
	url = git@github.com:stesi/gtms_contractmanager.git
	branch = 16.0

[submodule "ingegniamo/gtms_inspection_survey"]
	path = ingegniamo/gtms_inspection_survey
	url = git@github.com:ingegniamo/gtms_inspection_survey.git
	branch = 16.0

[submodule "ingegniamo/gtms_inspection_website"]
	path = ingegniamo/gtms_inspection_website
	url = git@github.com:ingegniamo/gtms_inspection_website.git
	branch = 16.0

[submodule "ingegniamo/survey_helpdesk"]
	path = ingegniamo/survey_helpdesk
	url = git@github.com:ingegniamo/survey_helpdesk.git
	branch = 16.0

[submodule "ingegniamo/sh_survey_extra_fields"]
	path = ingegniamo/sh_survey_extra_fields
	url = git@github.com:ingegniamo/sh_survey_extra_fields.git
	branch = 16.0

[submodule "stesi/gtms_fleet_planning"]
	path = stesi/gtms_fleet_planning
	url = git@github.com:stesi/gtms_fleet_planning.git
	branch = 16.0

[submodule "stesi/gtms_website"]
	path = stesi/gtms_website
	url = git@github.com:stesi/gtms_website.git
	branch = 16.0

[submodule "stesi/gtms_otm"]
	path = stesi/gtms_otm
	url = git@github.com:stesi/gtms_otm.git
	branch = 16.0

[submodule "stesi/ftp_connector"]
	path = stesi/ftp_connector
	url = git@github.com:stesi/ftp_connector.git
	branch = 16.0

[submodule "stesi/odoo_whatsapp_integration"]
	path = stesi/odoo_whatsapp_integration
	url = git@github.com:stesi/odoo_whatsapp_integration.git
	branch = 16.0

[submodule "ingegniamo/survey_image_on_answers"]
	path = ingegniamo/survey_image_on_answers
	url = git@github.com:ingegniamo/survey_image_on_answers.git
	branch = 16.0

[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 16.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 16.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0
