<?xml version="1.0"?>
<odoo>
    <!-- MENU ROOT -->



    <!-- MENU PRIMO LIVELLO -->

    <menuitem id="fleet_reclami_first_level_menu"
    name="Reclami"
    parent="fleet.fleet_configuration"/>


    <!-- MENU ACTION -->

    <menuitem id="fleet_reclami_menu_action"
    action="fleet_reclami"
    parent="fleet_reclami_first_level_menu"
    name="Tipologie di reclami"/>


</odoo>
